<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1" >
    <test name="PetstoreTest" >
        <classes>
            <class name="com.petstore.service.TestPetstore" />
            <class name="com.petstore.service.TestPetstoreService" />
        </classes>
    </test>
</suite>
